@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>
<script>
    $(document).ready(function (){
        var data = [];
        var data2 = [];

        @foreach (var item in Model)
        {
            <text>
            data.push([
                "@item.Key",
                @item.Value
            ]);
        data2.push([
                "@item.Key",
                100 - @item.Value
        ]);
        </text>
        }

        $.jqplot('myChartCircleBus', [data],
        {
            seriesDefaults: {
                // Make this a pie chart.
                renderer: jQuery.jqplot.PieRenderer,
                rendererOptions: {
                    // Donut's can be cut into slices like pies.
                    sliceMargin: 3,
                    // Pies and donuts can start at any arbitrary angle.
                    startAngle: -90,
                    showDataLabels: true,
                    // By default, data labels show the percentage of the donut/pie.
                    // You can show the data 'value' or data 'label' instead.
                    dataLabels: 'percent'
                }
            },
            legend: { show: true, location: 'e' }
        });
        $.jqplot('myChartCircleTrain', [data2],
        {
            seriesDefaults: {
                // Make this a pie chart.
                renderer: jQuery.jqplot.PieRenderer,
                rendererOptions: {
                    // Donut's can be cut into slices like pies.
                    sliceMargin: 3,
                    // Pies and donuts can start at any arbitrary angle.
                    startAngle: -90,
                    showDataLabels: true,
                    // By default, data labels show the percentage of the donut/pie.
                    // You can show the data 'value' or data 'label' instead.
                    dataLabels: 'percent'
                }
            },
            legend: { show: true, location: 'e' }
        });

        $.jqplot('myChartLinear', [data], {
            title: 'Число маршрутов в город',
            series: [{ renderer: $.jqplot.BarRenderer }],
            axesDefaults: {
                tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                tickOptions: {
                    angle: -30,
                    fontSize: '10pt'
                }
            },
            axes: {
                xaxis: {
                    renderer: $.jqplot.CategoryAxisRenderer
                }
            }
        });
    })
</script>
<div id="myChartCircleBus" style="width: 49%; display: inline-block"></div>
<div id="myChartCircleTrain" style="width: 49%; display: inline-block"></div>
<div id="myChartLinear"></div>