@{
    ViewBag.Title = "Index";
}
<style>
    .jqplot-table-legend-swatch {
        width: 20px;
        height: 20px;
    }
</style>

<h2>Index</h2>
<script>
    $(document).ready(function (){
        var data = [];

        @foreach (var item in Model)
        {
            <text>
            data.push([
                "@item.Key",
                @item.Value
            ]);
            </text>
        }

        $.jqplot('myChartCircle', [data],
        {
            seriesDefaults: {
                // Make this a pie chart.
                renderer: jQuery.jqplot.PieRenderer,
                rendererOptions: {
                    // Put data labels on the pie slices.
                    // By default, labels show the percentage of the slice.
                    showDataLabels: true
                }
            },
            legend: { show: true, location: 'e' }
        });

        $.jqplot('myChartLinear', [data], {
            title: 'Concern vs. Occurrance',
            series: [{ renderer: $.jqplot.BarRenderer }],
            axesDefaults: {
                tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                tickOptions: {
                    angle: -30,
                    fontSize: '10pt'
                }
            },
            axes: {
                xaxis: {
                    renderer: $.jqplot.CategoryAxisRenderer
                }
            }
        });
    })
</script>
<div id="myChartCircle"></div>
<div id="myChartLinear"></div>